<!-- START PAGE-CONTAINER -->
<div class="page-container">
    <!-- START HEADER -->
    <hairzzlers-header class="header" data-src="partials/adaptors/header/header.html"></hairzzlers-header>
    <!-- END HEADER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="container-fluid page-content-wrapper p-l-0 p-r-0">
        <!-- START PAGE CONTENT -->
        <div class="content p-t-0" ui-view="" ></div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
    <!-- START COPYRIGHT -->
    <div class="container-fluid container-fixed-lg footer"  data-ng-include="" src="'partials/components/footer.html'"></div>
    <!-- END COPYRIGHT -->
</div>
<!-- END PAGE CONTAINER -->
